
body {
	-webkit-animation: colorchange 300s infinite;
	animation: colorchange 300s infinite;

	padding-top: 50px;
}

@-webkit-keyframes colorchange {

     0%  {background: #ee8a8a;}
    25%  {background: #d28aee;}
    50%  {background: #8aaaee;}
    75%  {background: #8aeeaa;}
    100% {background: #eee68a;}

}

@keyframes colorchange {

     0%  {background: #ee8a8a;}
    25%  {background: #d28aee;}
    50%  {background: #8aaaee;}
    75%  {background: #8aeeaa;}
    100% {background: #eee68a;}

}

.header-font{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	text-align: center;
}

.header-font > * {
	padding: 15px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

a.button {

	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: #000000;

}

.about-me {
  padding: 40px 15px;
  text-align: center;
}

h1{
  color: #FFFFFF;
}

h2{
  color: #FFFFFF;
}
